* {
    margin: 0;
    padding: 0;
    border: 0;
}

header {
    background: white;
    padding: 20px 0;
    border-bottom: 1px solid black;
 }

 nav {
    color: #2d5f73;
    display: flex;
}

.logo {
    margin-right: auto;
}

nav a {
    text-decoration: none;
    font-family: 'Gloria Hallelujah', cursive;
    background: #2d5f73;
    color: white;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 4px;
}

body {
    margin: 0;
    min-height: 100vh;
    background: url(https://i.ibb.co/d4M74Cd/moroccan-flower.png);
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    padding: 20px;
    align-items: flex-start;
    justify-content: center;
}

main {
    padding: 20px;
}

main, nav {
    max-width: 900px;
    margin: 0 auto;
}

.content {
    max-width: 600px;
}

body > .container {
    margin-top: 20px;
}

 h1 {
     font-family: 'Gloria Hallelujah', cursive;
     font-size: 28px;
     color: #2d5f73;
 }

 h2 {
    margin-bottom: 20px;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 24px;
    color: #2d5f73;
    border-bottom: 1.5px solid gray;
 }

 p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 20px 0;
    line-height: 200%;
    font-size: 12px;

 }

main,
aside {
    background: white;
}

main img {
    float: left;
    margin-right: 15px;
}

aside {
    margin-right: auto;
    padding: 20px;
    text-align: center;
}

aside img {
    box-shadow: 1px 1px 10px black;
    border-radius: 10px;
    margin: 0 5px;
}

footer {
    text-align: center;
    margin-top: 20px;
    background-color: gray;
    color: white;
    padding: 15px;
    border-top: 5px solid #2d5f73;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

footer p {
    font-size: 14px;
}